
/* about page */


#about {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.about-container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: transitionMain 1s;

    .left {
    width: 40%;
    background: url("../img/photo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 430px;
    
    
    }

.right {
    width: 60%;
    background-color: $lightgreen;
    padding: 30px;
    min-height: 410px;
    margin-left: -100px;
    z-index: 1;

    

    .heading {
        font-family: $headingfont;
        font-weight: bold;
        margin-top: 0;
        font-size: 18px;
    }
    
    }

    
}





@media only screen and (max-width:768px) {
    .about-container {
       
        flex-direction: column;
    width: 100%;
    margin: 0 20px;
    justify-content: center;

    .left {
    width: 90%;
     background-size: cover;
  }

  .right {
    width: 90%;
    margin: 0 ;
  }
    }

    

}