
/********** mixins *****************/
@mixin a-normal{
    
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;

}

@mixin a-after {
     content: '';
  position: absolute;
  left: 0;
  bottom: .20em;
  height: .15em;
  width: 100%;
  background: $lightgreen;
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);

}

@mixin a-hover-after {
     height: .8em;
}





/* fonts */
$generalfont :'Catamaran', Sans-Serif;
$headingfont: 'Playfair Display', Serif;




/* colors */
$lightcolor: #e7e6e1;
$textcolor: #454d4d;
$lightgreen: #b4e0dd;



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $generalfont;
    background-color: $lightcolor ;
    color: $textcolor;


}

h1, h2, h3 {
    font-family: $headingfont;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: $textcolor;
}

h3 {
    font-size: 16px;
}


 p {
        margin-bottom: 20px;
    }



/* navigation */

.nav-container {
    max-width: 100%;
	margin: 0 auto;
    width: 90%;
    padding:  15px 20px;
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


.logo {
    max-width: 100%;
	height: auto;
    font-size: 22px;
    
}

.logo a {
    text-decoration: none;
    color:$textcolor;
}

.nav-list {
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    display: flex;
      

      li {
         padding-right: 20px;
        letter-spacing: 1px;
      }

      a {
          @include a-normal;

          &::after {
              @include a-after;

          }

          &:hover::after {
               @include a-hover-after;
          }

      }

}





/* footer */

footer {
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;

      a {
          @include a-normal;

          &::after {
              @include a-after;

          }

          &:hover::after {
               @include a-hover-after;
          }

      }

  

small {
    font-size: 12px;
}



/******** keyframes ********/


@keyframes transitionMain{
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


}

